<!DOCTYPE html>
<html>
<head>
    <title>Venta de Entradas</title>
</head>
<body style='font-family: Arial, sans-serif; background-color: #f5f5f5; margin: 0; padding: 20px;'>

<table style='max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);'>
    <tr>
        <td style="padding: 20px;">
            <h1 style='color: #333333;'>Hola ${NAME} ${LASTNAME}!</h1>
            <p style='color: #555555;'>Te agradecemos por haber realizado una reserva para nuestro show.</p>
            <p style='color: #555555;'>Estos son los detalles de tu reserva:</p>

            <div style="border: 1px solid #dddddd; padding: 10px; border-radius: 5px; background-color: #f9f9f9;">
                <h3 style="color: #333333;">${EVENT_NAME}</h3>
                <p style='color: #555555;'>Fecha: ${EVENT_DATE_TIME}</p>
                <p style='color: #555555;'>Teatro: ${EVENT_EVENT_PLACE}</p>
                <p style='color: #555555;'>Dirección: ${EVENT_ADDRESS}</p>
                <p style='color: #555555;'>Cód. de reserva: ${BOOKING_CODE}</p>
                <p style='color: #555555;'>Detalle: </p>
                ${RESERVED_SEATS}
                <p style='color: #555555;'>Total a abonar: ${TOTAL_AMOUNT}</p>
            </div>

            <p style='color: #555555; margin-top: 20px;'>
                Matsuridaiko se contactará con vos para coordinar el pago y entrega de entradas.
            </p>

            <p style='color: #555555; margin-top: 20px;'>
                Recordá que tenés hasta la fecha <span style='font-weight: bold;'>${RESERVATION_EXPIRATION}</span> para realizar el pago.
                Pasado este tiempo, deberemos cancelar tu reserva.
            </p>

            <p style='color: #555555; margin-top: 20px;'>
                ¡Muchas gracias por confiar en nosotros!
            </p>
        </td>
    </tr>
</table>

<p style='text-align: center; color: #888888; margin-top: 20px;'>© 2023 Ryukyukoku Matsuridaiko | https://matsuridaiko.com.ar/</p>

</body>
</html>